@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Overpass:100,300,400|");

.project-wrap {
  position: relative;
  margin: 3% 10%;
  flex-direction: row;
  .link-modal {
    position: relative;
    padding: 3%;
    font-family: "Overpass";
    font-style: italic;
    font-size: 3vw;
    height: 10%;
    opacity: 1;

    .tech-icons {
      margin-top: 5%;
      width: 100%;
      display: flex;
      justify-content: space-around;
      .tech-icon {
        width: 15%;
        // padding:0 2%;
      }
    }
  }
}
.delete-btn {
  width: 80%;
}
@media only screen and (min-width: 600px) {
  .project-wrap{
    margin:0 10%;
    .link-modal{
      // width:60%;
      padding:5%;
    }
  }
}
@media only screen and (min-width: 900px) {
  .project-wrap{
    
    .link-modal{
      // width:60%;
      padding:3%;
      .tech-icons{
        margin-top:3%;
        justify-content: space-around;
        .tech-icon{
          width:10%;
        }
      }
    }
  }
}


.edit-project-wrapper{
  display:flex;
  flex-direction:row;
  flex-flow:reverse;
  justify-content:space-between;
  width:70%;
  padding:1vh;
  
  
  input{
    height:3vh;
    margin:1vh 0;
  }
}

.edit-project-form{
  width: 80%;
  display:flex;
  flex-wrap:wrap;
  margin-top:5%;
  background:lightgray;
  padding:3%;
 
  .edit-form-checkboxes, .edit-form-inputs{
    display:flex;
    flex-direction:column;
    width:40%;
    margin:0 5%;
    justify-content:space-around;
    .edit-form-input{

    }
  }

}