.project-img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5% 0 10%;
  transform: translateX(-5%);
  .img-wrapper {
    position: relative;
    padding: 3% 5%;
    width: 100%;

    // transform:translateX(-25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      background: transparent;
      border: 2px solid transparent;
      border-radius: 0 0 0;
    }
    .img-wrapper-animate {
      animation: animate-img-wrapper 1.5s linear forwards;
    }
    &:hover:before {
      // animation: animate-img-wrapper 1.5s linear forwards;
    }
    @keyframes animate-img-wrapper {
      0% {
        width: 0;
        height: 0;
        border-top-color: rgb(41, 17, 17);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
      50% {
        width: 100%;
        height: 0;
        border-top-color: rgb(41, 17, 17);
        border-right-color: rgb(41, 17, 17);
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
      100% {
        width: 100%;
        height: 100%;
        border-top-color: rgb(41, 17, 17);
        border-right-color: rgb(41, 17, 17);
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }
    .inner-img-wrap {
      position: relative;
      box-sizing: border-box;

      .img {
        width: 100%;
        height: 100%;
        /* margin: 5%; */
        position: relative;
        box-shadow: 1px 1px 5px rgb(105, 6, 6);
      }
      .hundred-mill {
        text-align: left;
        margin: 4% auto;
        width: 60%;
        /* display: block; */
      }
      .modal {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // box-sizing: border-box;
        opacity: 0;
        z-index: 2;
        overflow: hidden;
        /* background-image:linear-gradient(
            to right, 
            rgba(0, 0, 0, 0.99),
            rgba(255, 255, 255, 1) 
          ); */
        animation: close-curtain 1s linear forwards;
        @keyframes close-curtain {
          0% {
            left: -5%;
            opacity: 0.1;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 0.99;
          }
        }
        .modal-span {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          /* align-items: flex-end; */
          width: 45%;
          height: 100%;
          padding: 5%;
          z-index: 3;
          background-image: linear-gradient(to right, rgba(209, 21, 21, 1), rgba(223, 11, 11, 1));
          background: rgb(223, 124, 12);
          background: #336b87;
          // background:blue;
          transform: skew(-10deg, 0deg) translateX(-12%);
          h2.project-title {
            padding: 3% 0;
            margin: 0 0 0 10%;
            font-family: "Overpass";
            // font-size: 5vw;
            // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            /* font-we0ight:lighter; */
            color: white;
            /* width: 50%; */
            transform: skew(10deg, 0);
            font-size: 3vw;
          }
        }
      }
    }
  }
  .open-curtain:hover .modal {
    animation: open-curtain 1s linear forwards;
    // animation: animate-img-wrapper 1.5s linear forwards;
  }
  .close-curtain:hover .modal {
    animation: close-curtain 1s linear forwards;
  }
  @keyframes open-curtain {
    0% {
      left: 5%;
      opacity: 0.99;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      left: -10%;
      opacity: 0;
      /* width: 110%; */
    }
  }
  // .img-wrapper:hover {
  //   transform: translate(1.2);
  // }
}
@media only screen and (min-width: 600px) {
  .project-img {
    justify-content: flex-start;
    .img-wrapper {
      width: 60%;
      div {
        .modal {
          .modal-span {
            h2.project-title {
              font-size: 2vw;
              color: white;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 900px) {
  .project-title {
    font-size: 4.5vw;
    color: green;
  }
}
