.navbar{
    position:relative;
    z-index:2;
    margin:0 3%;
}

.navbar div{
    z-index:1;
    margin:2em 0;
    font-size:3vw;
   

}
.navbar div a{
    color:white;
    font-size:1em;
    font-family:overpass;
    // color:rgb(255, 255, 255);
    text-decoration:none;
    cursor:pointer;
    
}



@media only screen and (min-width: 600px) {
        
    .navbar{
        div{
            font-size:2vw;
        }
    }
   

}

@media only screen and (min-width: 900px) {
        
    .navbar{
        div{
            font-size:1.5vw;
        }
    }
   

}