@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Overpass:100,300,400|");

.about {
  display: flex;
  flex-wrap: wrap;
  margin: 1% 1%;
  border-radius: 5px;
  padding-top: 1% 0;
  margin-top: 6%;
  /* background-image: linear-gradient(rgba(255, 255, 255, 1), rgb(252, 245, 236),rgba(252, 215, 174, 0.932)); */
  // background-image: linear-gradient(rgba(255, 255, 255, 0.233), rgba(255, 255, 255, .95),rgba(241, 240, 240, 0.95));
  /* font-family:arial; */
  font-size: 4vw;
  height: 90%;

  .para-wrap {
    position: relative;
    /* height: 100%; */
    margin: 1% auto 8%;
    display: flex;
    flex-direction: column;
    // background:rgb(252, 252, 241);
    // align-items: center;
    // width: 90%;
    height: 100%;
    overflow-y: scroll;


    /* justify-content: space-between; */
    .text {
      padding: 3% 0;
      color: black;
      font-family: "Overpass";
      // font-size: 1.2em;
      width: 85%;
      line-height: 1.8em;
    }

   
  }
}

.para-wrap::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-width: 600px) {
  .about {
    margin-top: 3%;
    font-size: 1.5vw;

    .para-wrap {
      .project-img {
        margin-top: 5%;

        .img-wrapper {

          width: 60%;
        }
      }
    }
  }
}




object {
  // height: 100%;
}

