.main-content {
 
    width: 85%;
    // max-width:70%;
    // position: absolute;
    top: 5;
    // left: 28%;
    // scrollbar-width: none;
    height: 90%;
  }
  
  // .main-content > * {
  //   color: transparent;
  // }