.projects {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 1%;
    border-radius: 5px;
    padding-top: 1% 5%;
    margin-top: 2%;
    /* margin-left:200px; */
  
    /* background-image: linear-gradient(rgba(255, 255, 255, 1), rgb(252, 245, 236),rgba(252, 215, 174, 0.932)); */
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.233), rgba(255, 255, 255, .95),rgba(241, 240, 240, 0.95)); */
    /* font-family:arial; */
    font-size: 10px;
    overflow-y: scroll;
    height: 80%;
    .proj-wrapper {
      position: relative;
      /* height: 100%; */
      margin: 1% 10% 8% 3%;
      // display: flex;/
      // background:rgb(252, 252, 241);
      // align-items:center;
      width: 100%;
  
  
      .project {
        position: relative;
        /* height: 100%; */
        /* margin:0 auto; */
        /* display:flex; */
        width: 90%;
        // margin: 10%;
        padding: 7% 9% 0 0;
        // margin-left: 5%;
        .link {
          margin:0;
          padding:0;
          .img-wrapper {
           margin:0;
           padding:0;
            // position: relative;
            background:red;
            // margin: 5%;
            box-shadow: 1px 1px 5px rgb(105, 6, 6);
  
            img {
              // position: relative;
              max-width: 90%;
            }
          }
        }@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Overpass:100,300,400|");
  
  .about {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 1%;
    border-radius: 5px;
    padding-top: 1% 0;
    margin-top: 6%;
  
    /* margin-left:200px; */
  
    /* background-image: linear-gradient(rgba(255, 255, 255, 1), rgb(252, 245, 236),rgba(252, 215, 174, 0.932)); */
    // background-image: linear-gradient(rgba(255, 255, 255, 0.233), rgba(255, 255, 255, .95),rgba(241, 240, 240, 0.95));
    /* font-family:arial; */
    font-size: 3.5vw;
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
  
    .para-wrap {
      position: relative;
      /* height: 100%; */
      margin: 1% auto 8%;
      display: flex;
      flex-direction: column;
      // background:rgb(252, 252, 241);
      // align-items: center;
      width: 90%;
  
      /* justify-content: space-between; */
      .text {
        padding: 3% 0;
        color: black;
        font-family: "Overpass";
        font-size: 1.2em;
        width: 85%;
        line-height: 1.8em;
      }
      .project-img {
        position: relative;
        /* height: 100%; */
        /* margin:0 auto; */
        /* display:flex; */
        width: 100%;
  
        justify-content: flex-end;
        display: flex;
        margin-bottom: 5%;
        transform: translateX(-5%);
        margin-top: 8%;
        .img-wrapper {
          /* height:100%; */
          position: relative;
          padding: 3% 5%;
  
          width: 70%;
          // transform:translateX(-25%);
          display: flex;
          justify-content: flex-end;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            background: transparent;
            border: 1px solid transparent;
            border-radius: 0 12px 0;
          }
  
          &:hover:before {
            animation: animate-project 0.5s linear forwards;
          }
          .img {
            max-width: 100%;
            height: auto;
            /* margin: 5%; */
            position: relative;
            box-shadow: 1px 1px 5px rgb(105, 6, 6);
            &:hover {
              transform: scale(1.01);
            }
          }
          .hundred-mill {
            text-align: left;
            margin: 4% auto;
            width: 60%;
            /* display: block; */
          }
        }
  
        // .img-wrapper:hover {
        //   transform: translate(1.2);
        // }
      }
    }
  }
  @media only screen and (min-width: 600px) {
    .about {
      margin-top: 3%;
      font-size: 1.2vw;
      .para-wrap {
        .project-img {
          margin-top: 5%;
          .img-wrapper {
           
            width: 60%;
          }
        }
      }
    }
  }
  
  @keyframes animate-project {
    0% {
      width: 0;
      height: 0;
      border-top-color: #262626;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  
    50% {
      width: 100%;
      height: 0;
      border-top-color: #e01414;
      border-right-color: #d41010;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  
    100% {
      width: 100%;
      height: 100%;
      border-top-color: #262626;
      border-right-color: #262626;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }
  
  // .leaf-pic,
  // .leaf-pic1,
  // .leaf-pic2 {
  //   width: 20%;
  //   margin-top: 10%;
  // }
  // .leaf-pic {
  //   transform: scaleY(-1) rotate(25deg);
  // }
  // .leaf-pic1 {
  //   transform: rotate(210deg);
  // }
  
  object {
    // height: 100%;
  }
  
  // .para-wrap:hover #olive g{
  
  //   animation: fills 4s 0s forwards;
  
  // }
  
  .about::-webkit-scrollbar {
    display: none;
  }
  
  // .leaf-pic:hover .leaf-pic{
  //   background:red;
  //   animation: fills 4s 2s forwards;
  
  // }
  
      }
      .project:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: transparent;
        border: 1px solid transparent;
        border-radius: 0 12px 0;
      }
  
      .project:hover:before {
        animation: animate-project 0.5s linear forwards;
      } // modal.classList.add("project-" + e.id + "-modal", "modal-slide")
      // modal.appendChild(cecl("span", "modal-span"))
      // modal.childNodes[0].appendChild(cecl("h2", "project-title"))
      // modal.childNodes[0].childNodes[0].innerText = e.title
  
      .project {
        
      }
    }
  }
  
  @keyframes animate-project {
    0% {
      width: 0;
      height: 0;
      border-top-color: #262626;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    50% {
      width: 100%;
      height: 0;
      border-top-color: #e01414;
      border-right-color: #d41010;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    100% {
      width: 100%;
      height: 100%;
      border-top-color: #262626;
      border-right-color: #262626;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }
  
  /* //MODAL//// */
  
  .modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    opacity: 0;
    z-index: 2;
    overflow: hidden;
    /* background-image:linear-gradient(
        to right, 
        rgba(0, 0, 0, 0.99),
        rgba(255, 255, 255, 1) 
      ); */
    animation: close-curtain 1s linear forwards;
  }
  
  @keyframes close-curtain {
    0% {
      left: -5%;
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.99;
    }
  }
  
  .project:hover .modal {
    animation: open-curtain 1s linear forwards;
  }
  @keyframes open-curtain {
    0% {
      left: 5%;
      opacity: 0.99;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      left: -10%;
      opacity: 0;
      /* width: 110%; */
    }
  }
  
  .modal-span {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-end; */
    width: 45%;
    height: 100%;
    padding: 5%;
    z-index: 3;
    background-image: linear-gradient(to right, rgba(209, 21, 21, 1), rgba(223, 11, 11, 1));
    // background:blue;
    transform: skew(-10deg, 0deg) translateX(-12%);
  }
  
  .modal-span h2.project-title {
    padding: 3% 0;
    margin: 0 0 0 20%;
    font-family: "Overpass";
    font-size: 1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* font-weight:lighter; */
    color: white;
    /* width: 50%; */
    transform: skew(10deg, 0);
  }
  
  .link-modal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* overflow: hidden; */
    z-index: 5;
    opacity: 0;
    font-family: "Raleway";
    /* background-image:linear-gradient(to right, rgba(0, 0, 0, 0.99),rgba(255, 255, 255, 1) );  */
    background-image: linear-gradient(to right, rgba(209, 21, 21, 1), rgba(223, 11, 11, 1));
    border: 1px solid green;
  }
  
  .project:hover .link-modal {
    animation: linkModal 1s linear 0.5s forwards;
  }
  @keyframes linkModal {
    0% {
      bottom: 20%;
      opacity: 0.1;
    }
    50% {
      bottom: 5%;
      opacity: 0.5;
    }
    100% {
      bottom: 0;
      opacity: 1;
      /* pointer-events:auto; */
    }
  }
  
  .link-modal p {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;
    color: white;
    cursor: pointer;
  }
  .link-modal p:hover {
    font-size: 1.7em;
  }
  .link-modal .site-button {
    background: orange;
    padding: 2%;
    transform: skew(-10deg, 0);
    border-radius: 2px;
    cursor: pointer;
  }
  .site-button:hover {
    transform: scale(1.1, 1.1) skew(-10deg, 0);
  }
  
  .traits-div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Raleway";
    transform: skew(-10deg, 0) translate(55%);
    padding: 3% 0;
  }
  
  .trait {
    color: red;
    font-size: 1.3em;
    margin: 3%;
  }
  
  .techs-div {
    display: flex;
    flex-wrap: wrap;
    /* justify-content:center; */
    margin: 2%;
    transform: skew(10deg) scale(0.75, 0.75) translateY(-25%);
    height: 20%;
    /* transform:translate(50deg); */
  }
  
  .tech {
    width: 10%;
  }
  
  .dummy {
    height: 800px;
  }
  